* {
  box-sizing: border-box;
}

/* body { */
  /* margin: 15px; */
/* } */

/* Navbar */
.navbar-light .navbar-brand {
    font-family: "Bad Script", cursive, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #f4d1f0;
  }
  
  .navbar-nav .nav-link{
    font-size: 20px;
    font-weight: 400;
  }
  
  .navbar-nav .nav-link:hover {
    font-family: "Reddit Mono", monospace, sans-serif;
    font-size: 23px;
    font-weight: 300;
    text-decoration-color: #f4d1f0;
    text-decoration-line: underline;
  }
  
  /* Homepage */
  .text-end {
    font-size: small;
  }
  
  .hero-title {
    font-family: "Bad Script", cursive, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(180, 203, 245);
    padding-top: 5px;
}

  .hero-img{
    opacity: 0.8;
    padding: 40px 30px;
  }

  .checked {
    color:#0d6efd;
  }
  
  /* Blog page */
  .card {
    border: none;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .card-img-top {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }
  
  .card-title {
    font-family: "Reddit Mono", monospace, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #f4d1f0;
    margin-top: 5px;
  }

  .card-text {
    font-family: "Reddit Mono", monospace, sans-serif;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: #f4d1f0;
  }

  .text-muted {
    font-size: small;
  }

  h1 {
    font-family: "Bad Script", cursive, sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color:#f4d1f0;
    margin-top: 2px;
    }

  .blog-img {
    width: 45%;
    height: auto;
    border-radius: 8px;
  }

  .blog-body {
    font-family: "Reddit Mono", monospace, sans-serif;
  }

  .post-subtitle {
    font-size: small;
    font-weight: bold;
  }
  
  h3 {
    font-family: "Bad Script", cursive, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #f4d1f0;
  }
  

  h2 {
    font-family: "Bad Script", cursive, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color:#f4d1f0;
    padding-bottom: 2px;
  }

  .info-card {
    font-family: "Reddit Mono", monospace, sans-serif;
    text-align: center;
  }

  .text-left {
    font-size: small;
    font-weight: bold;
  }

  /* Photo Gallery */
  .gallery img {
    border-radius: 8px;
  }

  .description {
    font-size: small;
    font-weight: bold;
    font-family: "Reddit Mono", monospace, sans-serif;
  }

  /* @media screen and (min-width: 1024px) { */
    /* .gallery img { */
      /* display: flex; */
      /* justify-content: space-between; */
      /* align-items: center; */
    /* } */
  /* } */


  /* Footer */
  footer {
    font-family: "Reddit Mono", monospace, sans-serif;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-top: 3px solid rgb(160, 190, 246); 
  }
  
  .footer a {
    color: #0d6efd;   
  }
  
  .image-container {
    position: relative;
  }    
    
    
  
  